@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(19, 21, 70);
  background-image: url(./assets/xmasbg.png);
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat; 
  
}
